*{
	margin: 0px;
	padding: 0px;
}
#arriba{
	position: fixed;
	margin: auto;
	width: 1270px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: white;
}
#arriba2{
	margin:auto;
	width: 1240px;
	height: 30px;
	font-family:Open Sans, Arial, sans-serif;
	font-size: .75em;
	background-color: #242424;
	color: #b7b7b7;
	letter-spacing: .25em;
	line-height: 3em;
}
#header{
	margin:auto;
	width: 720px;
	font-family:Arial, Helvetica, sans-serif;
}
ul, ol{
	list-style:none;
}
.nav > li{
	float:left;
}
.nav li a{
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
.nav li a:hover{
	background-color: #434343;
}
.nav li ul{
	display: none;
	position:absolute;
	min-width:140px;
}
.nav li:hover > ul {
	display:block;
}			
.nav li ul li {
	position:relative;
}
.nav li ul li ul {
	right:-140px;
	top:0px;
}
#salir{
	background: #EB5A5A;
	color: white;
}